<nav class="navbar-fixed-top">
    <span ui-sref=".public" class="navbar-button icon icon-public" ui-sref-active="active">公开微课</span>
    <span ui-sref=".org" class="navbar-button  icon icon-org" ui-sref-active="active">校本微课</span>
</nav>
<div class="banner" ng-if="'home.index.public' | isState">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--Slides-->
            <div class="swiper-slide" ng-repeat="banner in banners">
                <a ng-href="{{banner.url}}"><img ng-src="{{banner.image}}"/></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="banner"  ng-if="'home.index.org' | isState">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" ng-repeat="banner in banners">
                <a ng-href="{{banner.url}}"><img ng-src="{{banner.image}}"/></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div ui-view class="index-content"></div>