<div class="public">
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" ng-repeat="banner in banners">
                    <img ng-src="{{banner.image}}"/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="area courses">
        <div class="header">
            <span class="title icon icon-course">专题课程</span>
            <span class="button-all" ui-sref="home.public-course-list">全部</span>
        </div>
        <div class="content">
            <div class="course" ng-repeat="course in courses" ui-sref="home.courses({courseId: course.id})">
                <img ng-src="{{course.cover}}" alt="course.name"/>
                <span ng-bind="course.name"></span>
            </div>
        </div>
    </div>
</div>