<nav class="navbar-fixed-top">
    <div class="navbar-select">
        <select id="gradeSelect" ng-model="ui.selectedGrade" ng-change="onFilterChange(ui.selectedGrade)"
                ng-options="grade.name for grade in ui.grades track by grade.id">
        </select>
        <label class="icon icon-arrow" for="gradeSelect"></label>
    </div>

    <div class="navbar-select">
        <select id="subjectSelect" ng-model="ui.selectedSubject" ng-change="onFilterChange(ui.selectedGrade)"
                ng-options="subject.name for subject in ui.subjects track by subject.id">
        </select>
        <label class="icon icon-arrow" for="subjectSelect"></label>
    </div>
</nav>
<div class="course-list-content">
    <div class="area" ng-repeat="(knowledgePoint, videos) in videoByKnowledgePoint">
        <div class="header">
            {{knowledgePoint}}
        </div>
        <div class="content">
            <div class="course" ng-repeat="video in videos">
                <img class="cover" ng-src="{{video.poster}}"/>
                <div class="info">
                    <span class="name" ng-bind="video.name"></span>
                    <div class="property">
                        <span class="student-count">{{video.view_count}}人观看</span>
                        <span class="video-count">{{video.duration}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>