.main .home .course-detail {
  margin-top: -50px;
  .course {
    .background {
      width: 100%;
      height: 204px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.3;
      }

      .text {
        position: absolute;
        left: 10px;
        bottom: 20px;
        width: 100%;
        .name {
          color: $white-color;
          font-size: 22px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 80%;
        }

        .grade-subject {
          color: $white-color;
          > span {
            margin-right: 5px;
          }
        }
      }
    }

    .information {
      background-color: $white-color;
      padding: 15px 10px 25px 10px;
      .describe {
        display: block;
        color: $gray-color;
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-height: 15px;
        max-height: 45px;
      }
      .rating {
        color: $green-color;
        font-size: $star-rating-size;
      }
    }

    .content {
      margin-top: 5px;
      background-color: $white-color;
      .header {
        height: 50px;
        display: flex;
        color: $gray-color;
        font-size: $title-size;
        .tab {
          height: 100%;
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          border-bottom: solid 2px $white-color;
          cursor: pointer;

          &.active {
            border-bottom-color: $green-color;
            color: $green-color;
          }
        }
      }
      .tab-content {
        min-height: 100px;
        border-top: solid 1px $main-bg-color;
        margin-top: 2px;
        padding: 15px;
      }

      .videos {
        .video {
          color: $gray-color;
          height: 18px;

          &:not(:last-child) {
            margin-bottom: 12px;
          }

          .icon-play:before {
            color: $green-color;
            margin-right: 10px;
          }
          .name {
            float: left;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .duration {
            font-size: $property-size;
            float: right;
          }
          clear: both;
        }
      }

      .outline {
        word-wrap: break-word;
        overflow: hidden;
        color: $gray-color;
      }

      .reviews {
        .title {
          display: block;
        }
        .rating-detail {
          margin-top: 5px;
          display: flex;
          align-items: center;
          color: $green-color;
          font-size: $property-size;
          width: 100%;

          .icon:before {
            margin-right: 2px;
          }

          .total-rating {
            flex: 4;
            width: 50%;
            .value {
              font-size: 42px;
              display: block;
            }
            > span {
              font-size: $property-size;
            }
          }
          .rating-info {
            flex: 6;
            position: relative;

            .item {
              position: relative;
              .icon:before {
                margin-right: 1px;
              }
              .star {
                width: 60px;
                display: inline-block;
              }
              .percentage {
                position: relative;
                width: 48%;
                height: 9px;
                margin: 0 5px 0 5px;
                display: inline-block;

                .background {
                  position: absolute;
                  background-color: $main-bg-color;
                  width: 100%;
                  height: 9px;
                  border-radius: 3px;
                }
                .progress {
                  background-color: $green-color;
                  position: absolute;
                  z-index: 100;
                  width: 100%;
                  height: 9px;
                  border-radius: 3px;
                }
              }

              .count {
                display: inline-block;
                color: $main-font-color;
              }
            }

          }
        }
        .review-list {
          margin-top: 15px;

          .review {
            padding-top: 15px;
            display: flex;

            &:not(:last-child) {
              border-bottom: solid 2px $main-bg-color;
              padding-bottom: 15px;
            }

            .avatar {
              margin-right: 5px;
              > img {
                width: 30px;
                height: 30px;
                border-radius: 16px;
                border: 1px solid $green-color;
              }
            }

            .comment-container {
              color: $gray-color;
              width: calc(100% - 37px);

              .top-info {
                overflow: hidden;
                > span {
                  display: inline-block;
                }
                .user-name {
                  max-width: 30%;
                  color: $green-color;
                  float: left;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .create-time {
                  margin-left: 5px;
                  float: left;
                }

                .star-container {
                  padding-top: 4px;
                  font-size: 8px;
                  width: 50px;
                  float: right;
                  text-align: right;
                  .icon:before {
                    margin-right: 1px;
                  }
                }
              }
              .comment {
                clear: both;
                margin-top: 10px;
                word-wrap: break-word;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}