.main .home .course-list-content {
  $item-base-width: 185;
  $item-base-height: 154;
  $image-scale-rate: $item-base-width / $item-base-height;

    .area {
      .header {

      }
      .content {
        display: block;
        .course {
          float: left;
          background-color: $white-color;
          width: calc((100% - 5px) / 2);
          height: calc(((100% - 5px) / 2) / 1.2);
          &:not(:last-child) {
            margin-bottom: 5px;
          }
          &:nth-child(odd) {
            margin-right: 5px;
          }
          .cover {
            width: 100%;
            height: 100%;
          }
          .info {
            font-size: $property-size;
            padding: 10px;
            height: 33px;
            .name {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .property {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 20px;

              .student-count {
                float: left;
                color: $green-color;
              }
              .video-count {
                float: right;
                color: $gray-color;
                font-size: $vide-count-size;
              }
            }
          }
        }
      }
    }
}