$MAX-WIDTH: 414px;
$MIN-WIDTH: 320px;

.main {
  background-color: $main-bg-color;
  font-size: $normal-size;
  color: $main-font-color;
  display: flex;
  justify-content: center;
  >div {
    width: 100%;
    max-width: $MAX-WIDTH;
    min-width: $MIN-WIDTH;
  }
  .home {
    .icon:before {
      margin-right: 5px;
    }
    .navbar-fixed-top {
      width: 100%;
      max-width: $MAX-WIDTH;
      min-width: $MIN-WIDTH;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1000;
      display: flex;
      height: 50px;
      background-color: $white-color;

      .navbar-button {
        &:not(:last-of-type) {
          border-right: solid 1px $border-color;
        }

        font-size: $title-size;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray-color;
        cursor: pointer;

        &.active{
          color: $green-color;
          border-bottom: solid 2px $green-color;
        }
      }

      .navbar-select {
        flex: 1;
        display: flex;
        color: $gray-color;
        justify-content: center;
        align-items: center;
        >select {
          color: $gray-color;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          background: none;
          margin: 0;
          padding: 0;
        }
        >label {
          font-size: 7px;
        }
      }
    }
  }
}

@import "index";
@import "course_list";