body .home {
  .banner {
    height: 140px;
    .swiper-container {
      width: 100%;
      height: 140px;
      .swiper-slide img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.index-content .public, .org {
  .area {
    .header {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      .button-all {
        font-size: $property-size;
        color: $gray-color;
        cursor: pointer;
        .icon-arrow-right {
          font-size: 8px;
          margin-left: 3px;
          margin-top: 2px;
          float: right;
          &:before {
            margin-right: 0;
          }
        }
      }
      &:before {
        display: none;
      }
    }
  }
}